<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Не указан
  <% end %>
</p>

<p>
<table style="width:25%">
  <tr>
    <th> Вагон </th>
    <th> Номер </th>
  </tr>
  <% @train.sorted_cars.each do |car| %>
    <tr>
      <th><%= car.type %></th>
      <th><%= link_to "#{car.number}", train_car_path(@train, car) %></a></th>
    </tr>
  <% end %>
</table>
</p>

<p>
  <%= link_to "Добавить вагон", new_train_car_path(@train) %>
</p>

<%= link_to 'Редактировать', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
