<table>
  <thead>
    <tr><td> Выберите маршрут </td></tr>
    <%= form_for 'searches', method: :get do |f|%>
    <tr>
     <td>
     <div class="field">
        <%= f.label 'начальная станция' %>
        <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title, include_blank: true %>
     </div>
    </td>
    <td>
      <div class="field">
        <%= f.label 'конечная станция' %>
        <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title, include_blank: true %>
      </div>
   </td>
    <td>
      <div class="actions">
        <%= f.submit  "Искать"%>
      </div>
    </td>
    </tr>
    <% end %>
  </thead>
</table>
