<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Список поездов:</strong>
  <% if @route.trains.present? %>
    <% @route.trains.each do |train| %>
        <tr><%= train.number %></tr>
    <% end %>
  <% else %>
    На данном маршруте ни одного поезда
  <% end %>
</p>

<p>
  <strong> Список станций: </strong>
  <% if @route.railway_stations.present? %>
    <% @route.railway_stations.each do |railway_station| %>
        <tr><%= railway_station.title %></tr>
    <% end %>
  <% else %>
    В маршруте не указаны станции
  <% end %>
</p>

<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
