<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Список поездов:</strong>
  <% if @route.trains.present? %>
    <ul>
      <% @route.trains.each do |train| %>
        <li><%= train.number %></li>
    <% end %>
    </ul>
  <% else %>
    На данном маршруте ни одного поезда
  <% end %>
</p>

<p>
  <strong> Список станций: </strong>
  <% if @route.railway_stations.empty? %>
    В маршруте не указаны станции
  <% else %>
    <ul>
      <% @route.railway_stations_routes.ordered.each do |station_route|%>
        <li><%= station_route.railway_station.title%></li>
      <% end %>
    </ul>
  <% end %>
</p>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
