<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @car.type %>
</p>

<%= render @car.type.underscore %>

<%= link_to 'Редактировать', edit_car_path(@car) %>
<%= link_to 'Назад', cars_path %>
<%= link_to 'К поезду', @car.train %>
